.adminlayout{
    display: flex;
    width: 100%;
}

.adminlayout .top{
    width: calc(100% - 302px);
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    transition: 0.5s;
    right: 0;
}

.adminlayout main{
    width: 100%;
    left: 300px;
}
