.adminmenu{
    position: fixed;
    width: 300px;
    height: 100%;
    background: linear-gradient(180deg, var(--lilas), var(--azul));
    border-left: 10px solid var(--azul);
    transition: 0.5s;
    overflow: hidden;
}

.adminmenu ul{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;    
}

.adminmenu ul li{
    position: relative;
    width: 100%;
    padding: 10px 20px;
    list-style: none;    
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.adminmenu ul li:hover{
    background: var(--branco);
}

.adminmenu ul li:nth-child(1){
    margin-bottom: 80px;
    pointer-events: none;
}